<!DOCTYPE html>
<html>
<head>
<title>
CRUD		
</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>
<style>
	.selected {
	    background-color:#E6E6E6;
	    color:black;
	    font-weight:bold;
	}
</style>
<body ng-app="CRUD">

 <!-- Intro Section -->
<div class="container-fluid" ng-controller="MainController">
	  <div class="jumbotron">
		<h1>This CRUD was built in order to learn AngularJS framework</h1> 
		<p>All the data was generated randomically and storage as a json file. This file can be accessed <a target=_ href="https://gist.githubusercontent.com/arthurSena/bd98c43ca6b5e1c642b4/raw/789ba104e2692bc63d4442ef730c7f3e9755b76d/data.json">here.</a> </p>
	</div>

    <div class="row" style="text-align:left;margin-left:0.5%;">
		  <!-- <div class="col-sm-3"> -->
		  			<!--  <button style="text-align:center;margin:2% auto;" type="button" class="btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#addingPopup">&nbspAdd </button> -->
              <label >Search</label>
            <input style = "width:20%;display:inline;"type="text" ng-model="search" class="form-control" placeholder="Search">
             <button style="text-align:center;" type="button" class="btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#addingPopup">&nbspAdd </button>
		  <!-- </div> -->
    </div><br>

	<table class="table table-hover table-bordered" style="text-align:center;border:1vw solid grey;">
    <thead>
      <tr>	
        <th ng-click="sort('first_name')" class="text-center">Firstname
        	<span class="glyphicon sort-icon" ng-show="sortKey=='first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th  ng-click="sort('last_name')"  class="text-center">Lastname
        	 <span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th   ng-click="sort('email')" class="text-center">Email
        	<span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="contact in contacts|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
      
      	<td>{{contact.first_name}}</td>
      	<td>{{contact.last_name}}</td>
      	<td>{{contact.email}}</td>
      	<td>
      		<button style="text-align:center;margin:2% auto;" type="button" class="btn btn-primary glyphicon glyphicon-edit" data-toggle="modal" data-target="#editingPopup" ng-click="editContact(contact)"			>&nbspEdit
      		</button>
      	</td>
      	<td><button style="text-align:center;margin:2% auto;" type="button" class="btn btn-primary glyphicon glyphicon-remove" ng-click="removeContact(contact)">&nbspDelete</button></td>
      </tr>
    </tbody>

  </table>

  	<!-- <form class="form-inline" style="border:0.2vw solid grey; text-align:center; margin:">
        <div class="form-group" style = "margin:1%;">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
             <button style="text-align:center;margin:2% auto;" type="button" class="btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#addingPopup">&nbspAdd </button>
        </div>

        
    </form> -->




  <dir-pagination-controls
        max-size="10"
        direction-links="true"
        boundary-links="true" >
    </dir-pagination-controls>

    <!-- Modal -->
  <div class="modal fade" id="addingPopup" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Contact</h4>
        	
        </div>
        <div class="modal-body">
			          	<form role="form">
						    <div class="form-group">

						       <label for="name">First Name:</label>
						       <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="temp.first_name">

						       <label for="last">Last Name:</label>
						       <input type="last" class="form-control" id="last" placeholder="Enter Last Name" ng-model="temp.last_name">

						       <label for="email">Email:</label>
						       <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="temp.email">

						       <label for="country">Select Country:</label>
						      <select class="form-control" id="country" ng-model="temp.country">
						        <option>BR</option>
						        <option>USA</option>
						        <option>ITA</option>
						        <option>GER</option>
						      </select>
						    </div>
						    <button type="submit" class="btn btn-default" ng-click="addContact()" data-dismiss="modal">Submit</button>
			  			</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editingPopup" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Contact</h4>
        	
        </div>
        <div class="modal-body">
			          	<form role="form">
						    <div class="form-group">

						       <label for="name">First Name:</label>
						       <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="temp.first_name">

						       <label for="last">Last Name:</label>
						       <input type="last" class="form-control" id="last" placeholder="Enter Last Name" ng-model="temp.last_name">

						       <label for="email">Email:</label>
						       <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="temp.email">

						       <label for="country">Select Country:</label>
						      <select class="form-control" id="country" ng-model="temp.country">
						        <option>BR</option>
						        <option>USA</option>
						        <option>ITA</option>
						        <option>GER</option>
						      </select>
						    </div>
						    <button type="submit" class="btn btn-default" ng-click="editAndAdd()" data-dismiss="modal">Submit</button>
						    
			  			</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>


</body>
  	<!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Libraries -->

    <script src="lib/dirPagination.js"></script>

        <!-- Services -->
    <script type="text/javascript" src="js/services/dataService.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/mainController.js"></script>


</html>